<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="creative bespoke sustainable fresh local business" />
    <meta name="keywords" content="wedding, venue, caterer, welsh, in-house" />
    <meta http-equiv="author" content="LMW" />
    <link rel="preload" href="Font/amsterdamone-ez12l-webfont.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="Font/dual-300-webfont.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="/stylesheets/nav.css" />
    <link rel="stylesheet" href="/stylesheets/main.css"/>
    <link rel="stylesheet" href="/stylesheets/footer.css"/>

    <title>Wildroots Kitchen & Bar</title>
    
</head>
<body id="">
    <%- include('navbar') %> 
            <%- body %>
    <%- include('footer') %> 
    <script src="/javascript/wildroots.js"></script> 
</body>
</html>