<div id="footer4">
    <div id="mark">
        <a href="/"><img src="Images/Logo/main logo.jpg" alt="Logo Wild Roots" width="120" height="50" /></a> 
    </div>
    <div id="media">
        <a href="https://www.instagram.com/wildrootskitchenandbar/?hl=en"  target="_blank"><img id="instafoot" src="Images/Logo/instagram.png" width="25"></a> 
        <a href="https://www.facebook.com/pages/category/Caterer/Wild-Roots-Kitchen-and-Bar-100997658454964/"  target="_blank"><img id="facefoot" src="images/Logo/facebook.png" width="21"></a>
        <a href="https://www.linkedin.com/company/wild-roots-kitchen-and-bar-ltd"  target="_blank"><img id="linkedin" src="Images/Logo/linkedin.png" width="25"></a>
        <a href="https://twitter.com/WildRoots_KB"  target="_blank"><img id="twitter" src="Images/Logo/twitter.png" width="25"></a>
    </div>
    <div id="docs">
        <a href="docs/EnvironmentalPolicies.pdf"  target="_blank">Environmental Policies |</a>
        <a href="docs/Website Policies.pdf"  target="_blank">Website Policies |</a>
        <a href="docs/missionStatement.pdf"  target="_blank">Mission Statement</a>
    </div>
    <div id="weddingLinks"> 
        <a href="https://www.ukbridaldirectory.co.uk/" target="_blank">UK Bridal Directory |</a>
        <a href="https://www.findaweddingsupplier.co.uk/" target="_blank">Find A Wedding Supplier |</a>
        <a href="https://www.thesustainableweddingmovement.co.uk/" target="_blank">The Sustainable Wedding Movement</a>
    </div>
    <div id="copy">
        <p>© Copyright 2020 Wild Roots Kitchen and Bar Ltd.</p>
    </div>
    <div id="info">
        <p>Registered in England & Wales | Company no. 12808915 | Registered Address: Bridgend</p>
    </div>
</div>