<nav class="top transparent" id="navbarPrime">
    <a href="/"><img src="images/nav/main logo.jpg" alt="Logo Wild Roots" width="120" height="50" /></a>
            <div class="menu">
                <button aria-expanded="false" aria-controls="menu-list">
                    <span class="open">☰</span>
                    <span class="close">×</span>
                </button>
                <ul class="menu-list">
                <li><a href="/#whatWeDo">What we do</a></li>
                <li><a href="/sustainability">Sustainability</a></li>
                <!-- <li><a href="shop.html">Shop</a></li> -->
                <li><a href="/downloads">Downloads</a></li>
                <li><a href="/contact">Get in Touch</a></li>
                </ul>
            </div>
            <div class="social">
                <a href="https://www.instagram.com/wildrootskitchenandbar/?hl=en"  target="_blank"><img class="instagram" src="Images/nav/instagram.png" width="25"></a> 
                <a href="https://www.facebook.com/pages/category/Caterer/Wild-Roots-Kitchen-and-Bar-100997658454964/"  target="_blank"><img class="facebook" src="Images/nav/facebook.png" width="21"></a> 
                <a href="https://www.linkedin.com/company/wild-roots-kitchen-and-bar-ltd"  target="_blank"><img class="linkedin" src="Images/nav/linkedin.png" width="25"></a>
                <a href="https://twitter.com/WildRoots_KB"  target="_blank"><img class="twitter" src="Images/nav/twitter.png" width="25"></a>
            </div>
        </nav>