<% layout('partials/boilerplate') %>

<div class="hero hp">
    <div class="heroImage hpImage"><img src="images/index/hero logo.png" width="700" /></div>
</div>

<section class="block vision">
    <h1>Welcome to Wild Roots Kitchen & Bar</h1>
</section>
    
<section class="mission">
    <img class="roots" src="images/index/wildroots.jpg" />
    <p class="blurb">Hi! We’re Wild Roots Kitchen and Bar and we provide awesome, ethical, planet-saving catering, right here in South Wales.
    </br>
    </br>
    We’re passionate about supplying great tasting, locally sourced and sustainable food and drink, with an unparalleled level of service and always with a smile! 
    </br>
    </br>
    We deliver incredible cuisine for weddings, corporate dinners and private parties.  We also offer a unique service, providing white-label catering for Welsh wedding venues and those in the south West of England, which we combine with a collaborative approach to reduce our collective carbon footprint.
    </br>
    </br>
    Whether you work for us, or we work for you, we’re all one team! We love what we do and we’re obsessive about going above and beyond.  You will never see us have a bad day at the office!
    </p>
</section> 

<div class="banner actions">
    <div class="bannerImage"><p class="brag"><em> "Thank you, the food was brilliant.  They were happy to accommodate whatever we wanted. </br> We would certainly recommend them to others… Just wish we could do it all over again”</em></p>
        <p style="color: white; margin-top: 20px; padding-top: 5px; font-family: 'dual', Fallback, sans-serif; border-top: #cb5827 2.5px ridge; letter-spacing: 0.75px;"><span style="font-style: italic;">Ally & Mike, Bride & Groom</span></p>
    </div>
</div>

<section class="block T" id="whatWeDo">
    <h1>What We Do</h1>
</section>

<section class="WWD bullets">
    <div class="wls">
        <center><img src="images/index/afternoon-tea-53.jpg" alt="Wild Roots Wedding Catering" /></center> 
        <h2>Wedding & Event </br>Catering</h2>
            <p>Are you getting married, having a party or arranging a corporate dinner? Wild Roots are experts in wedding, event and large-scale marquee catering and can create the perfect menu to exceed your expectations and with our unparalleled event management expertise, we can also manage your complete event from start to finish.</span></p>
            <!-- <button onclick="myFunction()" class="myBtn">Read more</button> -->
                    <!-- <p class=testimonial style="color: #cb5728;"><em><span class="specialQuotes"></span><span class="specialQuotes"></span></em></p> -->
                    <!-- <a href="downloads">View our sample Menus</a> -->
                    <a href="docs/index/weddingEventMenu.pdf" target="_blank">Weddings & Events Sample Menu</a>
                    <form action="contact">
                <button>Get in touch</button>
            </form>
        </div>  
    
    <div class="inclusive">
        <center><img src="images/index/white-label.jpg" alt="Wild Roots White Label Wedding Venue Caterer" /></center>
        <h2>White-Label Wedding Venue Catering</h2>
        <p>Let us be your in-house caterer and work as part of your team; to manage every aspect of your wedding and events business, with a particular emphasis on environmentally friendly practices, exceptional service and risk-free facilities management solutions.<span class="dots">..</span><span class="more">We can maximise the return on your assets and enable you to provide an unequalled and risk-free service in an increasingly challenging and competitive market.</span></p>
            <button onclick="myFunction()" class="myBtn"><em>Read more</em></button>
            <!-- <p class=testimonial><em></em></p> -->
        <form action="contact">
            <button>Find out more</button>
        </form>
    </div>
    
    <div class="supply">
        <center><img src="images/index/workingLunches.jpg" alt="Wild Roots Business to Business food supplies" /></center>
        <h2>Corporate &  Working lunches</h2>
        <p>
            We supply a fabulous range of sweet and savoury, meat and plant-based lunch options for team meetings, training days and conferences.
            All individually wrapped in compostable packaging and freshly delivered to our customers on the morning of their meeting.
        </p>
        <a href="docs/index/Working Lunch Sample Menu.pdf" target="_blank">Working Lunch Sample Menu</a>
        <a href="docs/index/Board Meeting Delegates Day Menu.pdf" target="_blank">Conference Delegates Day Menu</a>
        <!-- <span class="dots">...</span><span class="more"> -->
        <!-- <button onclick="myFunction()" class="myBtn">Read more</button> -->
        <!-- <p class=testimonial><em></em></p> -->
        <form action="contact">
            <button>Arrange a chat</button>
        </form>             
    </div>       
    
    <div class="plant">
        <center><img src="images/index/wild-roots-christmas-40.jpg" alt="Wild Roots virtual Christmas party boxes" /></center>
        <h2>Christmas Party Boxes</h2>
        <p>Don't let Covid ruin your fun! Enjoy celebratory experiences with your family, friends or colleagues, virtually. Our fabulous sharing and party boxes are delivered fresh, directly to your door on the day of your special occasion, so you can celebrate in style.</p>
        <a href="docs/index/Wild Roots Christmas Party Box 2021.pdf" target="_blank">Christmas Party Box</a>
            <!-- <button onclick="myFunction()" class="myBtn">Read more</button> -->
            <!-- <p class=testimonial><em></em></p> -->
            <form action="contact">
                <button>Order here</button>
            </form>
    </div>
</section>
